body {
    background-color: #121212;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.role {
    margin: 20px;
    flex: 1 1 calc(100% - 40px); /* Default to full width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.role img {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for images */
}

.role img:hover {
    transform: scale(1.1); /* Slightly scale up the images on hover */
}

.role-name {
    font-size: 24px;
    margin: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for role name */
    padding: 5px 10px;
    border-radius: 5px;
}

.role-owner, .role-head-admin, .role-admin, .role-jradmin, .role-head-mod, .role-mod, .role.jrmod {
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for role boxes */
    overflow: hidden;
}

.role-owner {
    background-color: rgb(110, 0, 0);
}

.role-head-admin {
    background-color: darkred;
}

.role-admin {
    background-color: #da1515;
}

.role-jradmin {
    background-color: #ff5353;
}

.role-head-mod {
    background-color: #2be900;
}

.role-mod {
    background-color: #64fe42;
}

.role-jrmod {
    background-color: #2be900;
}

.discord {
    font-size: 28px;
    color: whitesmoke;
}

@media (min-width: 600px) {
    .role {
        flex: 1 1 calc(50% - 40px); /* 2 columns on medium screens */
        transform: scale(1.05); /* Slightly scale up the elements */
    }

    .role img {
        transform: scale(1.1); /* Slightly scale up the images */
    }
}

@media (min-width: 900px) {
    .role {
        flex: 1 1 calc(33.333% - 40px); /* 3 columns on large screens */
        transform: scale(1.1); /* Scale up the elements more */
    }

    .role img {
        transform: scale(1.2); /* Scale up the images more */
    }
}
