@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: hsl(0, 0%, 7%);;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 700px;
    background: hsl(0, 0%, 100%);;
    margin: 200px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

.todo-app h2 {
    color: hsl(240, 1%, 17%);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: hsl(279, 93%, 58%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/assets/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;

}